@page
@model HtmxDemo.Pages.DetailsModel

<div class="card">
    <table>
        <tr>
            <td><h2>Name</h2></td>
            <td><h3>@Model.customer.Name</h3></td>
        </tr>
        <tr>
            <td><h2>Address</h2></td>
            <td><h3>@Model.customer.Address</h3></td>
        </tr>
        <tr>
            <td><h2>Telephone</h2></td>
            <td><h3>@Model.customer.Telephone</h3></td>
        </tr>
    </table>

</div>

